{% include 'header.html' %}
<center>
    {% for i in object_list %}
    <br>
    <hr>
<div class="card" style="width: 18rem;">

  <div class="card-body">

    <h3 class="card-title">{{i.title_text}}</h3>
    <img src="{{i.image}}" alt="" width="200" height="300">
    <h6 class="card-subtitle mb-2 text-muted">Дата выпуска игры: {{i.release_date}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Рейтинг: {{i.rating}} звёзд</h6>
    <h6 class="card-subtitle mb-2 text-muted">Жанр: {{i.genre}}</h6>
    <a href="{{i.title_url}}">Кликни для перехода в страницу Playground</a>

  </div>

</div>
    <br>
    <hr>
    {% endfor %}
</center>
{% include 'footer.html' %}